.arrangement {
    margin-top: 5px;
}

.arrangement a {
    width: 96px;
    display: block;
    float: left;
    text-align: center;
    padding: 5px 0 5px 0;
    border: 2px solid $black;
    border-left: none;

    &:first-child {
        border-left: 2px solid $black;
    }

    &:link, &:active, &:visited, &:hover {
        color: $black;
    }

    &.active, &:hover {
        color: $white;
        background-color: $pink-grey;
    }
}
