@import '_settings.scss';

$image-path: '#{$base-path}img/';
$font-path: '#{$base-path}fonts/';
$svg-path: '#{$base-path}svg/';

// Font Family Vars
$default-font: "Clear Sans", Helvetica, Arial, sans-serif;
$header-font: "Fira Sans", Helvetica, Arial, sans-serif;

// Colour Vars
$black: #000;
$white: #fff;
$red-grey: #B59C9C;
$bold-red-grey: #7D7171;
$pink-grey: #EFBCBC;
$subtle-grey: #F5F5F5;
$stormy-grey: #BDBFBD;
$moody-grey: #8A8A8A;
$hover-grey: #5E6972;
$default-focus-color: $black;

// Font-Size Variables
$very-large-font: 42px;
$extra-large-font: 36px;
$large-font: 24px;
$medium-font: 18px;
$base-font: 14px;
$small-font: 12px;
$media-adjustment: 2px;


// Animation Variables
$short-transition: 150ms;
$medium-transition: $short-transition * 3;
$long-transition: $short-transition * 7;

// Breakpoints.
$breakpoints: (
  small: '(max-width: 520px), (orientation:landscape) and (min-width:481px) and (max-height: 480px)',
  big: '(min-width: 521px)'
);

// Border-Radius Variables
$small-border-radius: 4px;
$big-border-radius: 4px;
